<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="mr" class="com.csc.beans.IntrRateReplacer">
		<property name="rate" value="10.0f" />
	</bean>

	<bean id="bank" class="com.csc.beans.Bank">
		<replaced-method name="calcIntrAmt" replacer="mr">
			<arg-type>float</arg-type>
			<arg-type>float</arg-type>
		</replaced-method>
	</bean>
</beans>


